
OLD_plot_csv_v3.py
OLD_plot_csv.py
OLD_plot_csv_v2.py
S001R01.csv
S001R01.edf
chb01_02.edf
chb01_01.edf
chb01_02.csv
chb01_01.csv
chb01_01_info.txt
chb01_02_info.txt
S001R01_info.txt
chb01_01.edf_info.txt
chb01_01.edf.csv
/test
eeg2_A.txt
rangeslidertest_1.py
rangeslidertest_1.py
810279775059258155c7dc2616156134_annotations.txt
db6659835476f60bcf9a6b20f63c641d_annotations.txt
pyqt5_gui_spliter.py
pyqt5_gui_spliter2.py
plot_csv_splitter.py
filepath.json
/__pycache__
/__pycache__
/.idea
